* {
    margin: 0px;
    padding: 0px;
    box-shadow: border-box;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.nav-bar-nav {
    display: flex;
    background-color: transparent;
    color: white;
    padding: 10px 0px;
    font-size: 30px;
    position: fixed;
    width: 100%;
    transition: all 500ms ease;
    z-index: 1;
}

.logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "Tangerine", cursive;
}

.navlink {
    display: flex;
    list-style-type: none;
    right: 0px;
    margin: 13px;
    margin-left: auto;
    padding-right: 35px;
}

.navlink a {
    color: white;
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 20px;
}

.navlink a:hover,
.logo a:hover {
    color: rgb(172, 172, 172);
    text-decoration: none;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin: 20px;
    margin-right: 30px;
    transition: all 500ms ease;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.nav-bar-nav.nav-fixed {
    background-color: black;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 500ms ease;
}

.logo {
    padding: 0 30px 0 30px;
    margin: 15px;
}

.mountain {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -50px;
    right: 0%;
    filter: brightness(50%);
}

@media (max-width: 2000px) {
    .mountain {
        width: 2000px;
    }
}

.intro {
    padding: 280px 0 280px 0;
    color: white;
}

.intro h1 {
    font-size: 60px;
    margin-bottom: 40px;
}

.intro p {
    font-size: 20px;
}

.description {
    background-color: white;
    padding: 100px 0 80px 0;
}

.description img {
    width: 200px;
    margin: 50px 0 50px 0;
}

.description p {
    margin-bottom: 20px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.description h2 {
    font-size: 40px;
}

.i-do {
    padding-top: 70px;
    background-color: rgb(218, 218, 218);
}

.i-do h1 {
    font-size: 40px;
    padding: 30px 0 30px 0;
}

.i-do section {
    display: flex;
    padding: 20px 0 100px 0;
}

.i-do section .corner {
    margin: 0 100px 0 100px;
}

.i-do section div h3 {
    margin-bottom: 20px;
}

.i-do section div img {
    width: 30%;
    margin-bottom: 50px;
}

.i-do section .passion-class1 img {
    position: relative;
    top: -10px;
    margin-bottom: 25px;
}

.i-do section div img:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;
}

.experience {
    padding-bottom: 100px;
}

.experience h1 {
    padding: 100px 0 30px 0;
    font-size: 40px;
}

.experience div h2 {
    text-align: left;
    padding: 50px 0 0 50px;
    font-size: 25px;
}

.logo-row {
    display: flex;
    margin: 0 5%;
}

.logo-row .row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.row1 h2 {
    width: 100%;
}

.row1 div {
    margin: 5%;
    width: 100px;
    height: 100px;
}

.row1 img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.row1 img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transition: all 1000ms ease;
}

.fixed-white {
    background-color: white;
    height: 10px;
    width: 100%;
    border-color: white;
}

.fixed-bg {
    background-image: url("../images/coding.jpg");
    background-attachment: fixed;
    filter: blur(4px);
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
}

.resume .resume-details {
    color: white;
    padding: 100px;
}

.resume div h1 {
    font-size: 40px;
    padding-bottom: 30px;
}

.resume {
    filter: blur(0);
}

.resume div button {
    color: white;
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    background-color: transparent;
    border-color: white;
}

.resume div button:hover {
    padding: 15px 35px 15px 35px;
    transition: all 500ms ease;
    backdrop-filter: blur(5px);
}

.projects {
    position: relative;
    z-index: 0;
    background-color: white;
}

.projects .done {
    padding: 100px;
}

.projects div h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.projects .project-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-img div img {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img div {
    height: 300px;
    width: 550px;
    margin: 0 30px 100px 30px;
}

.project-img .project1 {
    background-image: url(../images/blog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: brightness(100%);
}

.project-img .project2 {
    background-image: url(../images/secret.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img .project3 {
    background-image: url(../images/todolist.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img .project4 {
    background-image: url(../images/keeper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img .project5 {
    background-image: url(../images/tflix.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img div i {
    font-size: 50px;
    margin: 120px 10px 0 10px;
    display: none;
    color: black;
}

.project-img .project1:hover {
    display: inline-block;
    filter: brightness(65%);
    transition: all 500ms ease;
}

.project-img .project1:hover i {
    display: inline-block;
}

.project-img .project2:hover {
    display: inline-block;
    filter: brightness(65%);
    transition: all 500ms ease;
}

.project-img .project2:hover i {
    display: inline-block;
}

.project-img .project3:hover {
    display: inline-block;
    filter: brightness(65%);
    transition: all 500ms ease;
}

.project-img .project3:hover i {
    display: inline-block;
}

.project-img .project4:hover {
    display: inline-block;
    filter: brightness(65%);
    transition: all 500ms ease;
}

.project-img .project4:hover i {
    display: inline-block;
}

.project-img .project5:hover {
    display: inline-block;
    filter: brightness(65%);
    transition: all 500ms ease;
}

.project-img .project5:hover i {
    display: inline-block;
}

.contact {
    background-color: rgb(218, 218, 218);
    padding: 100px 0;
}

.contact h1 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.contact button {
    margin-top: 15px;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    border-color: black;
}

.contact button:hover {
    background-color: black;
    color: white;
    transition: all 500ms ease;
}

.contact p {
    font-size: 20px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.envelope {
    position: relative;
    z-index: -1;
}

.envelope-show {
    z-index: 0;
}

footer {
    padding: 50px;
    background-color: rgb(22, 22, 22);
}

footer div i {
    width: 5%;
    height: 10%;
    color: rgb(218, 218, 218);
    margin: 15px 5px;
}

footer p {
    padding-top: 25px;
    color: rgb(218, 218, 218);
}

footer div i:hover {
    font-size: 43.5px;
    transition: 1000ms ease;
    margin: 5px 5px;
}

@media (max-width: 1000px) {
    .toggle-button {
        display: flex;
        margin-top: 28px;
    }

    .toggle-button.toggle-fix {
        transition: all 500ms ease;
        margin-top: 15px;
    }

    .navlink.active {
        display: flex;
        justify-content: center;
        position: fixed;
        right: auto;
        transition: all 500ms ease;
        background-color: black;
    }

    .navlink {
        position: absolute;
        display: none;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }

    .nav-bar-nav {
        background-color: black;
    }
}

/* experience and what i do*/
@media (max-width: 1090px) {
    .row1 div {
        width: 50px;
        height: 50px;
    }

    .i-do section {
        display: flex;
        flex-direction: column;
    }

    .i-do section div,
    .i-do section .corner {
        padding-bottom: 50px;
        margin: 0 15%;
    }

    .i-do section {
        padding-bottom: 25px;
    }
}

/* get in touch and a little bit about me */
@media (max-width: 810px) {
    footer div a {
        font-size: 10px;
        margin: 0 10px;
    }

    footer div i:hover {
        font-size: 25px;
        transition: 1000ms ease;
    }

    .description div {
        width: 100%;
    }

    .description div p {
        width: 85%;
    }

    .contact p {
        width: 85%;
    }

    .logo-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row2 {
        padding-bottom: 200px;
    }

    .row2 div {
        position: relative;
        left: 10%;
    }

    .projects .done {
        padding: 100px 10%;
    }

    .experience p,
    .description h2 {
        margin: 0 5%;
    }
}

@media (max-width: 420px) {
    .project-img div {
        height: 180px;
    }

    .project-img div i {
        font-size: 50px;
        margin: 60px 10px 0 10px;
        display: none;
        color: black;
    }
}

.descrip-class,
.passion-class1,
.passion-class2,
.passion-class3,
.logo-row,
.project-img {
    opacity: 0;
}

.show {
    opacity: 1;
    transition: all 1000ms ease;
}
